<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li class="active"><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
      <li><a href="{{ rootFolder|e}}documentation">Documentation</a></li>
    </ul>

    {% for pool in connections %}
        <h2 id="{{ pool.id|e }}">{{ idNameMapping[pool.id]|e }}</h2>
        {% if pool.connections is empty %}
            <p class="block">No clients connected.</p>
        {% else %}
            <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>
                {% for connection in pool.connections %}
                <tr>
                    <td>
                        <a href="{{ rootFolder|e }}users/{{ connection.user_id|e }}">{{ connection.user_id|e }}</a>
                    </td>
                    <td>
                        <a href="{{ rootFolder|e }}users/{{ connection.user_id|e }}/{{ connection.name|e }}">{{ connection.name|e }}</a>
                    </td>
                    <td>
                        <ul>
                            {% for ip in connection.virtual_address|sort %}
                            <li>{{ ip|e }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
    {% endfor %}

    {% include 'footer.twig' %}
</body>
</html>
