<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li class="active"><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
      <li><a href="{{ rootFolder|e}}documentation">Documentation</a></li>
    </ul>

    <h2>Connections</h2>

    {% for pool in connections %}
        <h3 id="{{ pool.id|e }}">{{ idNameMapping[pool.id]|e }}</h3>
        {% if pool.connections is empty %}
            <p class="plain">No clients connected.</p>
        {% else %}
            <table class="horizontal">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>IP addresses</th>
                </tr>
            </thead>
            <tbody>
                {% for connection in pool.connections %}
                <tr>
                    <td><a href="{{ rootFolder|e }}users/{{ connection.common_name|split('_', 2)|first|e }}">{{ connection.common_name|split('_', 2)|first|e }}</a></td>
                    <td><a href="{{ rootFolder|e }}users/{{ connection.common_name|split('_', 2)|first|e }}/{{ connection.common_name|split('_', 2)|slice(1,2)|first|e }}">{{ connection.common_name|split('_', 2)|slice(1,2)|first|e }}</a></td>
                    <td>
                        <ul class="ipList">
                            {% for ip in connection.virtual_address|sort %}
                            <li>{{ ip|e }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
    {% endfor %}

    {% include 'footer.twig' %}
</body>
</html>
