<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="connections">Connections</a></li>
      <li class="active"><a href="configurations">Configurations</a></li>
      <li><a href="log">Log</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>Configurations</h2>
    <p>
This page lists VPN configurations.
    </p>

    <ul class="subMenu">
        {% if activeVpnConfigurations is not empty %}
            <li><a href="#active">Active</a></li>
        {% endif %}
        {% if disabledVpnConfigurations is not empty %}
            <li><a href="#disabled">Disabled</a></li>
        {% endif %}
        {% if revokedVpnConfigurations is not empty %}
            <li><a href="#revoked">Revoked</a></li>
        {% endif %}
        {% if expiredVpnConfigurations is not empty %}
            <li><a href="#expired">Expired</a></li>
        {% endif %}
    </ul>

    {% if activeVpnConfigurations is not empty %}
        <h3 id="active">Active</h3>
        <p>
            {% if userId %}
                Showing all active configurations for <em>{{ userId|e }}</em>. See <a href="configurations#active">all</a>.
            {% else %}
                Showing all active configurations.
            {% endif %}
        </p>

        <table>
            <thead>
                {% if userId %}
                    <tr><th>Name</th><th>Pool</th><th>Expires ({{ date()|date('T') }})</th></tr> 
                {% else %}
                    <tr><th>User ID</th><th>Name</th><th>Pool</th><th>Expires ({{ date()|date('T') }})</th></tr> 
                {% endif %}
            </thead>
            <tbody>
            {% for config in activeVpnConfigurations %}
            <tr>
                {% if not userId %}
                    <td><a href="configurations?userId={{ config.user_id|e }}">{{ config.user_id|e }}</a></td>
                {% endif %}
                {% if userId %}
                    <td><a href="edit?for_user={{ userId|e }}&common_name={{ config.name|e }}">{{ config.name|e }}</a></td>
                {% else %}
                    <td><a href="edit?common_name={{ config.name|e }}">{{ config.name|e }}</a></td>
                {% endif %}
                <td>{{ config.pool|e }}</td>
                <td>{{ config.exp|e|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if disabledVpnConfigurations is not empty %}
        <h3 id="disabled">Disabled</h3>
        <p>
            {% if userId %}
                Showing all disabled configurations for <em>{{ userId|e }}</em>. See <a href="configurations#disabled">all</a>.
            {% else %}
                Showing all disabled configurations.
            {% endif %}
        </p>

        <table>
            <thead>
                {% if userId %}
                    <tr><th>Name</th><th>Pool</th><th>Expires ({{ date()|date('T') }})</th><th></th></tr> 
                {% else %}
                    <tr><th>User ID</th><th>Name</th><th>Pool</th><th>Expires ({{ date()|date('T') }})</th><th></th></tr> 
                {% endif %}
            </thead>
            <tbody>
            {% for config in disabledVpnConfigurations %}
            <tr>
                {% if not userId %}
                    <td><a href="configurations?userId={{ config.user_id|e }}">{{ config.user_id|e }}</a></td>
                {% endif %}
                <td>{{ config.name|e }}</td>
                <td>{{ config.pool|e }}</td>
                <td>{{config.exp|e|date('Y-m-d H:i:s') }}</td>
                <td class="text-right">
                    <form class="inline" method="get" action="edit">
                        <input type="hidden" name="common_name" value="{{ config.user_id|e }}_{{config.name|e }}">
                        {% if userId %}
                            <input type="hidden" name="for_user" value="{{ userId|e }}">
                        {% endif %}
                        <button class="plain" type="submit">Edit</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if revokedVpnConfigurations is not empty %}
        <h3 id="revoked">Revoked</h3>
        <p>
            {% if userId %}
                Showing all revoked configurations for <em>{{ userId|e }}</em>. See <a href="configurations#revoked">all</a>.
            {% else %}
                Showing all revoked configurations.
            {% endif %}
        </p>

        <table>
            <thead>
                {% if userId %}
                    <tr><th>Name</th><th>Revoked ({{ date()|date('T') }})</th></tr> 
                {% else %}
                    <tr><th>User ID</th><th>Name</th><th>Revoked ({{ date()|date('T') }})</th></tr> 
                {% endif %}
            </thead>
            <tbody>
            {% for config in revokedVpnConfigurations %}
            <tr>
                {% if not userId %}
                    <td><a href="configurations?userId={{ config.user_id|e }}">{{ config.user_id|e }}</a></td>
                {% endif %}
                <td>{{ config.name|e }}</td>
                <td>{{config.rev|e|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if expiredVpnConfigurations is not empty %}
        <h3 id="revoked">Expired</h3>
        <p>
            {% if userId %}
                Showing all expired configurations for <em>{{ userId|e }}</em>. See <a href="configurations#expired">all</a>.
            {% else %}
                Showing all expired configurations.
            {% endif %}
        </p>

        <table>
            <thead>
                {% if userId %}
                    <tr><th>Name</th><th>Expired ({{ date()|date('T') }})</th></tr> 
                {% else %}
                    <tr><th>User ID</th><th>Name</th><th>Expired ({{ date()|date('T') }})</th></tr> 
                {% endif %}
            </thead>
            <tbody>
            {% for config in expiredVpnConfigurations %}
            <tr>
                {% if not userId %}
                    <td><a href="configurations?userId={{ config.user_id|e }}">{{ config.user_id|e }}</a></td>
                {% endif %}
                <td>{{ config.name|e }}</td>
                <td>{{config.exp|e|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
