<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div class="container">
        {% include 'header.twig' %}

        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="connections">Connections</a></li>
          <li role="presentation"><a href="servers">Servers</a></li>
          <li role="presentation"><a href="configurations">Configurations</a></li>
          <li role="presentation"><a href="users">Users</a></li>
          <li role="presentation"><a href="documentation">Documentation</a></li>
        </ul>

        <h2>Connections</h2>
        
	    {% if connectedClients.items is empty %}
            <p class="well">No servers configured &#x1f61e;</p>
	    {% else %}
            {% for server in connectedClients.items %}
                <h3>{{ server.name|e }}</h3>
                {% if server.clients is empty %}
                    <p class="well">No clients connected to this server &#x1f61e;</p>
                {% else %}
                    <div class="table-responsive">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Client IP</th>
                            <th>VPN IP(s)</th>
                            <th>From Client</th>
                            <th>To Client</th>
                            <th>Connected ({{ date()|date("T") }})</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for client in server.clients %}
                        <tr>
                            <td>{{ client.common_name|split('_', 2)|first|e }}</td>
                            <td>{{ client.common_name|split('_', 2)|slice(1,2)|first|e }}</td>
                            <td>{{ client.real_address|e }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for ip in client.virtual_address|sort %}
                                    <li>{{ ip|e }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ client.bytes_in|sizeToHuman|e }}</td>
                            <td>{{ client.bytes_out|sizeToHuman|e }}</td>
                            <td>{{ client.connected_since|e|date("Y-m-d H:i:s") }}</td>
                            <td>
                                <form class="form-inline" method="post" action="killClient">
                                    <input type="hidden" name="id" value="{{ server.id|e }}">
                                    <input type="hidden" name="common_name" value="{{ client.common_name|e }}">
                                    <button class="btn btn-info" type="submit">Disconnect</button>
                                </form>
                                <form class="form-inline" method="post" action="revoke">
                                    <input type="hidden" name="id" value="{{ server.id|e }}">
                                    <input type="hidden" name="common_name" value="{{ client.common_name|e }}">
                                    <button class="btn btn-warning" type="submit">Revoke &amp; Disconnect</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
