<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div class="container">
        {% include 'header.twig' %}

        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="connections">Connections</a></li>
          <li role="presentation"><a href="configurations">Configurations</a></li>
          <li role="presentation"><a href="users">Users</a></li>
        </ul>

        <h2>Connections</h2>

	    {% if connectedClients.items is empty %}
            <div class="alert alert-info" role="alert">No clients are currently connected &#x1f61e;</div>
	    {% else %}
            {% for client in connectedClients.items %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr><th colspan="2">{{ client.common_name|e }}</th></tr>
                </thead>
                <tbody>
                <tr><td>Bytes Received</td><td>{{ client.bytes_received|e }}</td></tr>
                <tr><td>Bytes Sent</td><td>{{ client.bytes_sent|e }}</td></tr>
                <tr><td>Client IP</td><td><code>{{ client.client_ip|e }}</code></td></tr>
                <tr><td>Connected Since</td><td>{{ client.connected_since|e|date("Y-m-d H:i:s") }} ({{ date()|date("T") }})</td></tr>
                <tr>
                    <td>VPN IP(s)</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for ip in client.vpn_ip %}
                            <li><code>{{ ip|e }}</code></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-right">
                        <form method="post" action="revoke">
                            <input type="hidden" name="socket_id" value="{{ client.socket_id|e }}">
                            <input type="hidden" name="common_name" value="{{ client.common_name|e }}">
                            <button class="btn btn-warning" type="submit">Revoke &amp; Disconnect</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            {% endfor %}
        {% endif %}

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
