<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li class="active"><a href="{{ requestRoot }}connections">Connections</a></li>
      <li><a href="{{ requestRoot }}users">Users</a></li>
      <li><a href="{{ requestRoot }}info">Info</a></li>
      <li><a href="{{ requestRoot }}stats">Stats</a></li>
      <li><a href="{{ requestRoot }}notifications">Notifications</a></li>
      <li><a href="{{ requestRoot }}log">Log</a></li>
    </ul>

    {% for profile in connections %}
        <h2 id="{{ profile.id }}">{{ idNameMapping[profile.id] }}</h2>
        {% if profile.connections is empty %}
            <p class="plain">No clients connected.</p>
        {% else %}
            <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>IP address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for connection in profile.connections %}
                <tr>
                    <td>
                        <a href="{{ requestRoot }}user?user_id={{ connection.user_id }}">{{ connection.user_id }}</a>
                    </td>
                    <td>
                        {{ connection.name }}
<!--                        <a href="{{ requestRoot }}configuration?user_id={{ connection.user_id }}&config_name={{ connection.name }}">{{ connection.name }}</a> -->
                    </td>
                    <td>
                        <ul class="simple">
                            {% for ip in connection.virtual_address|sort %}
                            <li><code>{{ ip }}</code></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if 6 == connection.proto %}
                            <span class="success">IPv6</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
    {% endfor %}

    {% include 'footer.twig' %}
</body>
</html>
