<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li class="active"><a href="connections">Connections</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li><a href="log">Log</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>Connections</h2>
       
    {% if advanced %}
        <p>Switch to <a href="?advanced=0">Simple</a> view.</p>
    {% else %}
        <p>Switch to <a href="?advanced=1">Advanced</a> view.</p>
    {% endif %}

    {% if connectedClients.items is empty %}
        <p class="plain">No servers configured &#x1f61e;</p>
    {% else %}
        {% for server in connectedClients.items %}
            <h3 id="{{ server.id|e }}">{{ server.id|e }}</h3>
            {% if not server.ok %}
                <p class="plain">The VPN server is not running &#x1f61e;</p>
            {% else %}
                {% if server.status is empty %}
                    <p class="plain">No clients connected to this server &#x1f61e;</p>
                {% else %}
                    {% if advanced %}
                        <table>
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>Info</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for client in server.status %}
                            <tr>
                                <td><a href="configurations?userId={{ client.common_name|split('_', 2)|first|e }}">{{ client.common_name|split('_', 2)|first|e }}</a></td>
                                <td>
                                    <dl>
                                        <dt>Name</dt>
                                        <dd>{{ client.common_name|split('_', 2)|slice(1,2)|first|e }}</dd>
                                        <dt>IP address</dt>
                                        <dd>
                                            <ul class="ipList">
                                                {% for ip in client.virtual_address|sort %}
                                                <li>{{ ip|e }}</li>
                                                {% endfor %}
                                            </ul>
                                        </dd>
                                        <dt>Traffic</dt>
                                        <dd>{{ (client.bytes_in+client.bytes_out)|sizeToHuman|e }}</dd>
                                        <dt>Connected ({{ date()|date("T") }})</dt>
                                        <dd>{{ client.connected_since|e|date("Y-m-d H:i:s") }}</dd>
                                    </dl>
                                </td>
                                <td class="text-right">
                                    <form class="inline" method="get" action="edit">
                                        <input type="hidden" name="common_name" value="{{ client.common_name|e }}">
                                        <button class="plain" type="submit">Edit</button>
                                    </form>
                                    <form class="inline" method="post" action="killClient">
                                        <input type="hidden" name="id" value="{{ server.id|e }}">
                                        <input type="hidden" name="common_name" value="{{ client.common_name|e }}">
                                        <button class="warning" title="Disconnect a client, but allow it to reconnect." type="submit">Disconnect</button>
                                    </form>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    {% else %}
                        <table>
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>Name</th>
                                <th>IP address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for client in server.status %}
                            <tr>
                                <td><a href="configurations?userId={{ client.common_name|split('_', 2)|first|e }}">{{ client.common_name|split('_', 2)|first|e }}</a></td>
                                <td>{{ client.common_name|split('_', 2)|slice(1,2)|first|e }}</td>
                                <td>
                                            <ul class="ipList">
                                                {% for ip in client.virtual_address|sort %}
                                                <li>{{ ip|e }}</li>
                                                {% endfor %}
                                            </ul>
                                </td>
                                <td class="text-right">
                                    <form class="inline" method="get" action="edit">
                                        <input type="hidden" name="common_name" value="{{ client.common_name|e }}">
                                        <button class="plain" type="submit">Edit</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
