<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div class="container">
        {% include 'header.twig' %}

        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="connections">Connections</a></li>
          <li role="presentation"><a href="configurations">Configurations</a></li>
          <li role="presentation"><a href="users">Users</a></li>
        </ul>

        <h2>Connections</h2>

	    {% if connectedClients.items is empty %}
            <div class="alert alert-info" role="alert">No clients are currently connected &#x1f61e;</div>
	    {% else %}
            <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Common Name</th>
                    <th>Client IP</th>
                    <th>VPN IP(s)</th>
                    <th>Received (bytes)</th>
                    <th>Sent (bytes)</th>
                    <th>Connected ({{ date()|date("T") }})</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for client in connectedClients.items %}
                <tr>
                    <td>{{ client.common_name|e }}</td>
                    <td>{{ client.client_ip|e }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for ip in client.vpn_ip %}
                            <li><code>{{ ip|e }}</code></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ client.bytes_received|e }}</td>
                    <td>{{ client.bytes_sent|e }}</td>
                    <td>{{ client.connected_since|e|date("Y-m-d H:i:s") }}</td>
                    <td>
                        <form method="post" action="revoke">
                            <input type="hidden" name="socket_id" value="{{ client.socket_id|e }}">
                            <input type="hidden" name="common_name" value="{{ client.common_name|e }}">
                            <button class="btn btn-warning" type="submit">Revoke &amp; Disconnect</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
        {% endif %}

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
