<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
      <li class="active"><a href="{{ rootFolder|e}}documentation">Documentation</a></li>
    </ul>

    <h2>Documentation</h2>
    <p>
        This portal can be used for day-to-day management of the VPN service. 
    </p>
    
    {% include 'footer.twig' %}
</body>
</html>

