<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="connections">Connections</a></li>
      <li class="active"><a href="configurations">Configurations</a></li>
      <li><a href="log">Log</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>Edit</h2>
    <p>
        Modifying configuration <em>{{ configName|e}}</em> of user <a href="configurations?userId={{ userId|e }}">{{ userId|e }}</a>.
    </p>
    <form method="post" action="edit">
        <fieldset>
            {% if staticConfig.disable %}
                <input type="checkbox" name="disable" id="disable" checked="checked"> 
            {% else %}
                <input type="checkbox" name="disable" id="disable"> 
            {% endif %}
            <label for="disable">Disable</label>
        </fieldset>

        <fieldset>
            <label for="pool">Pool</label>
            <select id="pool" name="pool">
                {% if staticConfig.pool == 'default' %}
                    <option value="default" selected="selected">Default</option>
                {% else %}
                    <option value="default">Default</option>
                {% endif %}

                {% if staticConfig.pool == 'v6' %}
                    <option value="v6" selected="selected">IPv6-only</option>
                {% else %}
                    <option value="v6">IPv6-only</option>
                {% endif %}

                {% if staticConfig.pool == 'https' %}
                    <option value="https" selected="selected">HTTPS-only</option>
                {% else %}
                    <option value="https">HTTPS-only</option>
                {% endif %}
            </select>
        </fieldset>
        <fieldset>
            <input type="hidden" name="for_user" value="{{ for_user|e }}">
            <input type="hidden" name="common_name" value="{{ userId|e }}_{{ configName|e}}">
            <button type="submit">Save</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
