<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li><a href="{{ rootFolder|e}}users">Users</a></li>
      <li class="active"><a href="{{ rootFolder|e}}info">Info</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
    </ul>

    {% for pool in serverPools %}
        <h2>{{ pool.name|e }}</h2>

        <dl>
            <dt>IPv4</dt>            
            <dd><code>{{ pool.range|e }}</code></dd>

            <dt>IPv6</dt>            
            <dd><code>{{ pool.range6|e }}</code></dd>

            <dt>Hostname</dt>        
            <dd><code>{{ pool.hostName|e }}</code></dd>

            {% if pool.listen != "::" %}
                <dt>Listening On</dt>
                <dd><code>{{ pool.listen|e }}</code></dd>
            {% endif %}

            <dt>Default Gateway</dt>
            <dd>
                {% if pool.defaultGateway %}
                    <span class="success">Yes</span>
                {% else %}
                    <span class="error">No</span>
                {% endif %}
            </dd>

            <dt>NAT</dt>
            <dd>
                {% if pool.useNat %}
                    <span class="success">Yes</span>
                {% else %}
                <span class="error">No</span>
                {% endif %}
            </dd>

            {% if not pool.defaultGateway %}
                <dt>Route(s)</dt>
                <dd>
                    {% if pool.routes is empty %}
                        <em>None</em>
                    {% else %}
                        <ul class="simple">
                            {% for route in pool.routes %}
                                <li><code>{{ route|e }}</code></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
            {% endif %}

            {% if pool.defaultGateway and pool.dns is not empty %}
                <dt>DNS</dt>
                <dd>
                    {% if pool.dns is empty %}
                        <em>None</em>
                    {% else %}
                        <ul class="simple">
                        {% for d in pool.dns %}
                            <li><code>{{ d|e }}</code></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
            {% endif %}

            <dt>Client-to-client</dt>
            <dd>
                {% if pool.clientToClient %}
                    <span class="success">Yes</span>
                {% else %}
                    <span class="error">No</span>
                {% endif %}
            </dd>

            <dt>Two-factor Authentication</dt>
            <dd>
                {% if pool.twoFactor %}
                    <span class="success">Yes</span>
                {% else %}
                    <span class="error">No</span>
                {% endif %}
            </dd>

            <dt>Access Control</dt>
            <dd>
                {% if pool.enableAcl %}
                    <span class="success">Yes</span>
                {% else %}
                    <span class="error">No</span>
                {% endif %}
            </dd>

            {% if pool.enableAcl %}
            <dt>Access Control Groups</dt>
            <dd>
                <ul class="simple">
                {% for group in pool.aclGroupList %}
                    <li><code>{{ group|e }}</code></li>
                {% endfor %}
                </ul>
            </dd>
            {% endif %}

            <dt>Detailed Logging</dt>
            <dd>
                {% if pool.enableLog %}
                    <span class="success">Yes</span>
                {% else %}
                    <span class="error">No</span>
                {% endif %}
            </dd>
        </dl>
    {% endfor %}

    {% include 'footer.twig' %}
</body>
</html>
