<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="connections">Connections</a></li>
      <li><a href="users">Users</a></li>
      <li class="active"><a href="info">Info</a></li>
      <li><a href="log">Log</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>Info</h2>

    {% for pool in serverPools %}
    <h3>{{ pool.name|e }}</h3>

    <table class="vertical">
        <tr>
            <th>IPv4</th>
            <td>{{ pool.range|e }}</td>
        </tr>

        <tr>
            <th>IPv6</th>
            <td>{{ pool.range6|e }}</td>
        </tr>

        <tr>
            <th>Hostname</th>
            <td>{{ pool.hostName|e }}</td>
        </tr>
        
        {% if pool.listen != "::" %}
            <tr>
                <th>Listening On</th>
                <td>{{ pool.listen|e }}</td>
            </tr>
        {% endif %}

        <tr>
            <th>Default Gateway</th>
            <td>{% if pool.defaultGateway %}<span class="label label-success">Yes</span>{% else %}<span class="label">No</span>{% endif %}</td>
        </tr>

        <tr>
            <th>NAT</th>
            <td>{% if pool.useNat %}<span class="label label-success">Yes</span>{% else %}<span class="label">No</span>{% endif %}</td>
        </tr>

        {% if not pool.defaultGateway %}
        <tr>
            <th>Route(s)</th>
            <td>
                {% if pool.routes is empty %}
                    <em>None</em>
                {% else %}
                    <ul>
                        {% for route in pool.routes %}
                            <li>{{ route|e }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        
        {% if pool.defaultGateway and pool.dns is not empty %}
        <tr>
            <th>DNS</th>
            <td>
                {% if pool.dns is empty %}
                    <em>None</em>
                {% else %}
                    <ul>
                    {% for d in pool.dns %}
                        <li>{{ d|e }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        {% endif %}

        <tr>
            <th>Client-to-client</th>
            <td>{% if pool.clientToClient %}<span class="label label-success">Yes</span>{% else %}<span class="label">No</span>{% endif %}</td>
        </tr>

        <tr>
            <th>Two-factor Authentication</th>
            <td>{% if pool.twoFactor %}<span class="label label-success">Yes</span>{% else %}<span class="label">No</span>{% endif %}</td>
        </tr>

        <tr>
            <th>Access Control</th>
            <td>{% if pool.enableAcl %}<span class="label label-success">Yes</span>{% else %}<span class="label">No</span>{% endif %}</td>
        </tr>

        {% if pool.enableAcl %}
        <tr>
            <th>Access Control Groups</th>
            <td>
                <ul>
                {% for group in pool.aclGroupList %}
                    <li>{{ group|e }}</td>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}

        <tr>
            <th>Detailed Logging</th>
            <td>{% if pool.enableLog %}<span class="label label-success">Yes</span>{% else %}<span class="label">No</span>{% endif %}</td>
        </tr>
    </table>
    {% endfor %}

    {% include 'footer.twig' %}
</body>
</html>
