<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="connections">Connections</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li class="active"><a href="info">Info</a></li>
      <li><a href="log">Log</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>Info</h2>
    <p>
        This page shows the VPN server configuration.
    </p>

    {% for pool in info.data %}
    <h3>{{ pool.name|e }}</h3>

    <table class="vertical">
        <tr>
            <th>IPv4</th>
            <td>{{ pool.range|e }}</td>
        </tr>

        <tr>
            <th>IPv6</th>
            <td>{{ pool.range6|e }}</td>
        </tr>

        <tr>
            <th>Hostname</th>
            <td>{{ pool.hostName|e }}</td>
        </tr>
        
        <tr>
            <th>Default Gateway</th>
            <td>{% if pool.defaultGateway %}yes{% else %}no{% endif %}</td>
        </tr>

        {% if not pool.defaultGateway %}
        <tr>
            <th>Route(s)</th>
            <td>
                {% if pool.routes is empty %}
                    <em>N/A</em>
                {% else %}
                    <ul>
                        {% for route in pool.routes %}
                            <li>{{ route|e }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        
        {% if pool.defaultGateway %}
        <tr>
            <th>DNS</th>
            <td>
                {% if pool.dns is empty %}
                    <em>N/A</em>
                {% else %}
                    <ul>
                    {% for d in pool.dns %}
                        <li>{{ d|e }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        {% endif %}

        <tr>
            <th>Client to Client Connectivity</th>
            <td>{% if pool.clientToClient %}yes{% else %}no{% endif %}</td>
        </tr>

        <tr>
            <th>Two-Factor Authentication</th>
            <td>{% if pool.twoFactor %}yes{% else %}no{% endif%}</td>
        </tr>
    </table>
    {% endfor %}

    {% include 'footer.twig' %}
</body>
</html>
