<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="connections">Connections</a></li>
      <li><a href="servers">Servers</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li><a href="users">Users</a></li>
      <li><a href="documentation">Documentation</a></li>
      <li class="active"><a href="log">Log</a></li>
    </ul>

    <h2>Log</h2>

    {% if not log.ok %}
        <p class="danger">{{ log.error|e }}</p>
    {% else %} 

        <p>This page shows the history of client connections. <strong>Only</strong> 
            terminated connections are shown. Ongoing connections 
            can be found in the <a href="connections">Connections</a> tab. The 
            entries are sorted by disconnect time, most recently disconnected first.
        </p>

        {% if log.history is empty %}
            <p class="plain">No log available &#x1f61e;</p>
        {% else %}

            <form method="get">
                <select name="daysAgo">
                    <option value="0">Today</option>
                    <option value="1">Yesterday</option>
                    <option value="2">2 Days Ago</option>
                    <option value="3">3 Days Ago</option>
                    <option value="4">4 Days Ago</option>
                    <option value="5">5 Days Ago</option>
                    <option value="6">6 Days Ago</option>
                    <option value="7">7 Days Ago</option>
                </select>
                <button type="submit">Go</button>
            </form>

            <table>
                <thead>
                    <tr><th>User ID</th><th>Name</th><th>Connected ({{ date()|date("T") }})</th><th>Disconnected ({{ date()|date("T") }})</th><th>IP address</th><th>Traffic</th></tr>
                </thead>
                <tbody>
                {% for entry in log.history %}
                    <tr>
                        <td>{{ entry.common_name|split('_', 2)|first|e }}</td>
                        <td>{{ entry.common_name|split('_', 2)|slice(1,2)|first|e }}</td>
                        <td>{{ entry.time_unix|e|date("Y-m-d H:i:s") }}</td>
                        <td>{{ entry.disconnect_time_unix|e|date("Y-m-d H:i:s") }}</td>
                        <td>
                            <ul class="ipList">
                                <li>{{ entry.ifconfig_pool_remote_ip|e }}</li>
                                <li>{{ entry.ifconfig_ipv6_remote }}</li>
                            </ul>
                        </td>
                        <td>{{ (entry.bytes_received+entry.bytes_sent)|sizeToHuman|e }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
