<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li class="active"><a href="{{ rootFolder|e}}log">Log</a></li>
    </ul>

    <h2>Search</h2>
    <form method="post">
        <fieldset>
            <label for="dateTime">Date / Time</label>
            <input id="dateTime" name="date_time" type="text" size="40" value="{{ date_time|e }}" placeholder="2016-08-05T09:44:18+02:00" required>
            <label for="ipAddress">IP Address</label>
            <input id="ipAddress" name="ip_address" type="text" size="40" value="{{ ip_address|e }}" placeholder="fdc6:6794:d2bf:1::1000" required>
        </fieldset>
        <fieldset>
            <button type="submit">Search</button>
        </fieldset>
    </form>

    {% if results is defined %}
        <h2>Results</h2>
        {% if results is empty %}
            <p class="block">
                No results matching your criteria.
            </p>
        {% else %}
            <table>
                <thead>
                    <tr><th>User ID</th><th>Name</th><th>IP address</th><th>Connected ({{ date()|date('T') }})</th><th>Disconnected ({{ date()|date('T') }})</th></tr>
                </thead>
                <tbody>
                {% for item in results %}
                    <tr>
                        <td><a href="{{ rootFolder|e }}users/{{ item.user_id|e }}">{{ item.user_id|e }}</a></td>
                        <td><a href="{{ rootFolder|e }}users/{{ item.user_id|e }}/{{ item.config_name|e }}">{{ item.config_name|e }}</a></td>
                        <td><ul class="simple"><li>{{ item.v4|e }}</li><li>{{ item.v6|e }}</li></ul></td>
                        <td>{{ item.connect_time|e|date('Y-m-d H:i:s') }}</td>
                        <td>{{ item.disconnect_time|e|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
