<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li class="active"><a href="{{ rootFolder|e}}log">Log</a></li>
      <li><a href="{{ rootFolder|e}}documentation">Documentation</a></li>
    </ul>

        <p>This page shows the history of client connections. <strong>Only</strong> 
            closed connections are shown. Ongoing connections 
            can be found in the <a href="connections">Connections</a> tab. The 
            entries are sorted by disconnect time, most recently disconnected first.
            You can view the log of a date between {{ minDate|e }} and {{ maxDate|e }}.
        </p>

        <form method="get">
            <fieldset>
                <label for="showDate">Date</label>
                <input id="showDate" name="showDate" type="text" value="{{ showDate|e }}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
                <button type="submit">View</button>
            </fieldset>
        </form>

        {% if log is empty %}
            <p class="block">No log available for this date.</p>
        {% else %}
            <table>
                <thead>
                    <tr><th>User ID</th><th>Name</th><th>Connected ({{ date()|date("T") }})</th><th>Disconnected ({{ date()|date("T") }})</th><th>IP address</th><th>Traffic</th></tr>
                </thead>
                <tbody>
                {% for entry in log %}
                    <tr>
                        <td><a href="configurations?userId={{ entry.common_name|split('_', 2)|first|e }}">{{ entry.common_name|split('_', 2)|first|e }}</a></td>
                        <td>{{ entry.common_name|split('_', 2)|slice(1,2)|first|e }}</td>
                        <td>{{ entry.time_unix|e|date("Y-m-d H:i:s") }}</td>
                        <td>{{ entry.disconnect_time_unix|e|date("Y-m-d H:i:s") }}</td>
                        <td>
                            <ul>
                                <li>{{ entry.v4|e }}</li>
                                <li>{{ entry.v6 }}</li>
                            </ul>
                        </td>
                        <td>{{ (entry.bytes_received+entry.bytes_sent) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% endif %}


    {% include 'footer.twig' %}
</body>
</html>
