<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="connections">Connections</a></li>
      <li><a href="servers">Servers</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li><a href="users">Users</a></li>
      <li class="active"><a href="log">Log</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>Log</h2>

    {% if not log.ok %}
        <p class="danger">{{ log.error|e }}</p>
    {% else %} 

        <p>This page shows the history of client connections. <strong>Only</strong> 
            terminated connections are shown. Ongoing connections 
            can be found in the <a href="connections">Connections</a> tab. The 
            entries are sorted by disconnect time, most recently disconnected first.
        </p>

        <form method="get">
            <fieldset>
            <legend>Select Date</legend>
            <label for="daysAgo">Date </label>
            <select name="daysAgo" id="daysAgo">
                {% for key, timestamp in selectBox %}
                    {% if key == daysAgo %}
                        <option selected="selected" value="{{ key|e }}">{{ timestamp|e|date('Y-m-d') }}</option>
                    {% else %}
                        <option value="{{ key|e }}">{{ timestamp|e|date('Y-m-d') }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Go</button>
            </fieldset>
        </form>

        {% if log.history is empty %}
            <p class="plain">No log available &#x1f61e; You could try another day.</p>
        {% else %}
            <table>
                <thead>
                    <tr><th>User ID</th><th>Name</th><th>Connected ({{ date()|date("T") }})</th><th>Disconnected ({{ date()|date("T") }})</th><th>IP address</th><th>Traffic</th></tr>
                </thead>
                <tbody>
                {% for entry in log.history %}
                    <tr>
                        <td><a href="configurations?filterByUser={{ entry.common_name|split('_', 2)|first|e }}">{{ entry.common_name|split('_', 2)|first|e }}</a></td>
                        <td>{{ entry.common_name|split('_', 2)|slice(1,2)|first|e }}</td>
                        <td>{{ entry.time_unix|e|date("Y-m-d H:i:s") }}</td>
                        <td>{{ entry.disconnect_time_unix|e|date("Y-m-d H:i:s") }}</td>
                        <td>
                            <ul class="ipList">
                                <li>{{ entry.ifconfig_pool_remote_ip|e }}</li>
                                <li>{{ entry.ifconfig_ipv6_remote }}</li>
                            </ul>
                        </td>
                        <td>{{ (entry.bytes_received+entry.bytes_sent)|sizeToHuman|e }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
