<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ requestRoot }}connections">Connections</a></li>
      <li><a href="{{ requestRoot }}users">Users</a></li>
      <li><a href="{{ requestRoot }}info">Info</a></li>
      <li><a href="{{ requestRoot }}stats">Stats</a></li>
      <li><a href="{{ requestRoot }}notifications">Notifications</a></li>
      <li class="active"><a href="{{ requestRoot }}log">Log</a></li>
    </ul>

    <h2>Search</h2>
    <p>
        Find the user identifier that used an IPv4 or IPv6 address at a particular point in time.
    </p>
    <p>
        The <em>Date/Time</em> field understands various formats, e.g. <a target="_blank" href="https://tools.ietf.org/html/rfc2822#section-3.3">RFC 2822</a> and <a target="_blank" href="https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations">ISO 8601</a>, but also literal strings like <code>yesterday 11:00</code> or <code>now</code>. The default time zone is {{ date()|date('T') }}, add it if you want to override it.
    </p>

    <form method="post">
        <fieldset>
            <label for="dateTime">Date/Time ({{ date()|date('T') }})</label>
            <input id="dateTime" name="date_time" type="text" size="40" value="{{ date_time }}" placeholder="2016-08-05T09:44:18+02:00" required>
            <label for="ipAddress">IP Address</label>
            <input id="ipAddress" name="ip_address" type="text" size="40" value="{{ ip_address }}" placeholder="fdc6:6794:d2bf:1::1000" required>
        </fieldset>
        <fieldset>
            <button type="submit">Search</button>
        </fieldset>
    </form>

    {% if results is defined %}
        <h2>Results</h2>
        {% if results is empty %}
            <p class="plain">
                There are no results matching your criteria.
            </p>
        {% else %}
            <table>
                <thead>
                    <tr><th>Profile</th><th>User ID</th><th>Name</th><th>IPs</th><th>Connected ({{ date()|date('T') }})</th><th>Disconnected ({{ date()|date('T') }})</th></tr>
                </thead>
                <tbody>
                {% for item in results %}
                    <tr>
                        <td>{{ item.profile_id }}</a></td>
                        <td><a href="{{ requestRoot }}user?user_id={{ item.user_id }}">{{ item.user_id }}</a></td>
                        <td><span title="{{ item.common_name }}">{{ item.display_name }}</span></td>
                        <td><ul class="simple"><li>{{ item.ip4 }}</li><li>{{ item.ip6 }}</li></ul></td>
                        <td>{{ item.connected_at|date('Y-m-d H:i:s') }}</td>
                        <td>
                            {% if item.disconnected_at %}
                                {{ item.disconnected_at|date('Y-m-d H:i:s') }}
                            {% else %}
                                <em>N/A</em>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
