{% set activeItem = 'log' %}
{% extends "base.twig" %}
{% block content %}
    <h2>{% trans "Search" %}</h2>
    <p>
        {% trans "Find the user identifier that used an IPv4 or IPv6 address at a particular point in time." %}
    </p>
    <p>
        {% set currentDate = date()|date('Y-m-d H:i:s') %}
        {% trans %}
        The <em>Date/Time</em> field accepts dates of the format <code>Y-m-d H:i:s</code>, e.g. <code>{{ currentDate }}</code>. Use <em>UTC</em> as the time zone.
        {% endtrans %}
    </p>

    <form method="post">
        <fieldset>
            <label for="dateTime">{% trans "Date/Time" %} ({{ date()|date('T') }})</label>
            <input id="dateTime" name="date_time" type="text" size="40" value="{% if date_time %}{{ date_time }}{% else %}{{ date()|date('Y-m-d H:i:s') }}{% endif %}" required>
            <label for="ipAddress">{% trans "IP Address" %}</label>
            <input id="ipAddress" name="ip_address" type="text" size="40" value="{{ ip_address }}" placeholder="fdc6:6794:d2bf:1::1000" required>
        </fieldset>
        <fieldset>
            <button type="submit">{% trans "Search" %}</button>
        </fieldset>
    </form>

    {% if result is defined %}
        <h2>{% trans "Results" %}</h2>
        {% if not result %}
            <p class="plain">
                {% trans "There are no results matching your criteria." %}
            </p>
        {% else %}
            <table>
                <tbody>
                    <tr>
                        <th>{% trans "Profile" %}</th>
                        <td>{{ result.profile_id }}</td> <!-- XXX use display_name -->
                    </tr>
                    <tr>
                        <th>{% trans "User ID" %}</th>
                        <td><a href="{{ requestRoot }}user?user_id={{ result.user_id|url_encode }}">{{ result.user_id }}</a></td>
                    </tr>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <td>{{ result.common_name }}</td> <!-- XXX use display_name -->
                    </tr>
                    <tr>
                        <th>{% trans "IPs" %}</th>
                        <td><ul class="simple"><li>{{ result.ip4 }}</li><li>{{ result.ip6 }}</li></ul></td>
                    </tr>
                    <tr>
                        <th>{% trans "Connected" %} ({{ date()|date('T') }})</th>
                        <td>{{ result.connected_at|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Disconnected" %} ({{ date()|date('T') }})</th>
                        <td>
                            {% if result.disconnected_at %}
                                {{ result.disconnected_at|date('Y-m-d H:i:s') }}
                            {% else %}
                                <em>{% trans "N/A" %}</em>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Client Lost" %}</th>
                        <td>
                            {% if result.client_lost %}
                                <span class="plain">{% trans "Yes" %}</span>
                            {% else %}
                                <span class="plain">{% trans "No" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
