<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <h2>Connections</h2>
        <h3>Notes</h3>
        <ul>
            <li><em>Disconnect</em> closes a current VPN connection (client can reconnect);</li>
            <li><em>Revoke</em> revokes the configuration certificate, and disconnects the client (client can no longer reconnect);</li>
        </ul>

	    {% if connectedClients.items is empty %}
            <p class="block">
                No clients are currently connected!
            </p>	
	    {% else %}
            {% for client in connectedClients.items %}
            <table class="border">
                <thead>
                    <tr><th colspan="2">{{ client.common_name|e }}</th></tr>
                </thead>
                <tbody>
                <tr><td>Bytes Received</td><td>{{ client.bytes_received|e }}</td></tr>
                <tr><td>Bytes Sent</td><td>{{ client.bytes_sent|e }}</td></tr>
                <tr><td>Client IP</td><td><code>{{ client.client_ip|e }}</code></td></tr>
                <tr><td>Connected Since</td><td>{{ client.connected_since|e|date("Y-m-d H:i:s") }} ({{ date()|date("T") }})</td></tr>
                <tr>
                    <td>VPN IP(s)</td>
                    <td>
                        <ul>
                            {% for ip in client.vpn_ip %}
                            <li><code>{{ ip|e }}</code></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="textright">
                        <form class="simple" method="post" action="disconnect">
                            <input type="hidden" name="socket_id" value="{{ client.socket_id|e }}">
                            <input type="hidden" name="common_name" value="{{ client.common_name|e }}">
                            <button class="simple" type="submit">Disconnect</button>
                        </form>

                        <form class="simple" method="post" action="revoke">
                            <input type="hidden" name="socket_id" value="{{ client.socket_id|e }}">
                            <input type="hidden" name="common_name" value="{{ client.common_name|e }}">
                            <button class="simple" type="submit">Revoke</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            {% endfor %}
        {% endif %}

        <h2>Configurations</h2>
        <h3>Notes</h3>
        <ul>
            <li>All, non revoked, configurations are shown here;</li>
            <li>If a configuration is revoked here, the client is NOT disconnected if it happened to be connected;</li>
        </ul>

        {% if allConfig is empty %}
            <p class="block">
                No configurations are currently active!
            </p>
	    {% else %}
	
            <table class="border">
                <thead>
                    <tr><th>User ID</th><th>Config Name</th><th></th></tr>
                </thead>
                <tbody>
            {% for config in allConfig %}
                <tr>
                    <td>{{ config.user_id|e }}</td>
                    <td>{{config.name|e }}</td>     
                    <td class="textright">
                        <form class="simple" method="post" action="revoke">
                            <input type="hidden" name="common_name" value="{{ config.user_id|e }}_{{config.name|e }}">
                            <button class="simple" type="submit">Revoke</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>

        {% endif %}

        <h2>Users</h2>
        <h3>Notes</h3>
        <ul>
            <li>If you <em>block</em> a user they will no longer be able to login to the VPN User Portal to create new configurations;</li>
            <li>Only users that have configurations are listed here;</li>
        </ul>
        <table class="border">
            <thead>
                <tr><th>User ID</th><th>Blocked</th><th></th></tr>
            </thead>
            <tbody>
            {% for user in users.items %}
                <tr>
                    <td>{{ user.user_id|e }}</td>
                    {% if user.is_blocked %}
                        <td>yes</td>
                        <td class="textright">
                            <form class="simple" method="post" action="unblockUser">
                                <input type="hidden" name="user_id" value="{{ user.user_id|e }}">
                                <button class="simple" type="submit">Unblock</button>
                            </form>
                        </td>
                    {% else %}
                        <td>no</td>
                        <td class="textright">
                            <form class="simple" method="post" action="blockUser">
                                <input type="hidden" name="user_id" value="{{ user.user_id|e }}">
                                <button class="simple" type="submit">Block</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
