<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        {% if msg %}
            <p class="msg">{{ msg|e }}</p>
        {% endif %}

        <h2>Active Connections</h2>

        {% for key, client in clientInfo %}
        <table>
            <tr><th>Client ID</th><td><code>{{ key|e }}</code></tr></tr>
            <tr><th>Client IP</th><td><code>{{ client.client_ip|e }}</code></td></tr>
            <tr>
                <th>VPN IPs</th>
                <td>
                    <ul>
                        {% for ip in client.vpn_ip %}
                        <li><code>{{ ip|e }}</code></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <form class="inline" method="post" action="disconnect">
                        <input type="hidden" name="config_id" value="{{ key|e }}">
                        <button type="submit">Disconnect</button>
                    </form>

                    <form class="inline" method="post" action="block">
                        <input type="hidden" name="config_id" value="{{ key|e }}">
                        <button type="submit" disabled>Block</button>
                    </form>
                </td>
            </tr>
        </table>
        {% endfor %}
    </div> <!-- /container -->
</body>
</html>
