<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        {% if msg %}
            <p class="msg">{{ msg|e }}</p>
        {% endif %}

        <p>Notes:</p>
        <ul>
            <li>Only currently connected clients are listed here;</li>
            <li><em>Disconnect</em> closes a current VPN connection (client can reconnect);</li>
            <li><em>Revoke</em> revokes the configuration certificate, and disconnects the client (client can no longer reconnect);</li>
        </ul>

        <h2>Active Connections</h2>

	    {% if not clientInfo %}

            <span>No connected clients.</span>	

	    {% else %}
            {% for key, client in clientInfo %}
            <table>
                <tr><th>Client ID</th><td><code>{{ key|e }}</code></tr>
                <tr><th>Client IP</th><td><code>{{ client.client_ip|e }}</code></td></tr>
                <tr>
                    <th>VPN IPs</th>
                    <td>
                        <ul>
                            {% for ip in client.vpn_ip %}
                            <li><code>{{ ip|e }}</code></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Actions</th>
                    <td>
                        <form class="simple" method="post" action="disconnect">
                            <input type="hidden" name="config_id" value="{{ key|e }}">
                            <button type="submit">Disconnect</button>
                        </form>

                        <form class="simple" method="post" action="revoke">
                            <input type="hidden" name="config_id" value="{{ key|e }}">
                            <button type="submit">Revoke</button>
                        </form>
                    </td>
                </tr>
            </table>
            {% endfor %}
        {% endif %}

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
