<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ requestRoot }}connections">Connections</a></li>
      <li><a href="{{ requestRoot }}users">Users</a></li>
      <li><a href="{{ requestRoot }}info">Info</a></li>
      <li><a href="{{ requestRoot }}stats">Stats</a></li>
      <li class="active"><a href="{{ requestRoot }}notifications">Notifications</a></li>
      <li><a href="{{ requestRoot }}log">Log</a></li>
    </ul>

    <h2>System</h2>
    <p>
        All users will see this "Message of the Day" (MOTD) message when 
        logging in to the portal, or when connecting to the VPN using an 
        application supporting the API.
    </p>

    <form method="post">
        <fieldset>
            <label for="motd_message">MOTD</label>
            <textarea id="motd_message" name="motd_message" rows="8">{{ motd }}</textarea>
        </fieldset>
        <fieldset>
            <button name="motd_action" value="set" type="submit">Set</button>
            {% if motd %}
                <button name="motd_action" value="delete" class="error">Delete</button>
            {% endif %}
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
