{% set activeItem = 'stats' %}
{% extends "base.twig" %}

{% set generated_at = stats.generated_at|date('Y-m-d H:i:s') %}
{% set generated_at_tz = date()|date('T') %}

{% block content %}
    {% if false == stats %}
        <p class="plain">
            {% trans "The process generating the VPN usage statistics did not run yet..." %}
        </p>
    {% else %}
        <h2>{% trans "Summary" %}</h2>
        <p>
            {% trans %}
These statistics where generated on {{ generated_at }} ({{ generated_at_tz }}).
            {% endtrans %}
        </p>
        
        <table>
            <thead>
                <tr>
                    <th>{% trans "Profile" %}</th>
                    <th>{% trans "Total Traffic" %}</th>
                    <th>{% trans "Total # Unique Users" %}</th>
                    <th>{% trans "Highest # Concurrent Connections" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for k, v in stats.profiles %}
                    <tr>
                        <td><a title="{{ k }}" href="stats?profile_id={{ k }}">{{ v.display_name }}</a></td>
                        <td>{{ v.total_traffic|sizeToHuman }}</td>
                        <td>{{ v.unique_user_count }}</td>
                        <td>
                            {% if v.max_concurrent_connections_time == 0 %}
                               {{ v.max_concurrent_connections }}
                            {% else %}
                                <span title="{% trans "On" %} {{ v.max_concurrent_connections_time|date('Y-m-d H:i:s') }} ({{ date()|date('T') }})">{{ v.max_concurrent_connections }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
