<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li class="active"><a href="{{ rootFolder|e}}stats">Stats</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
    </ul>

    <h2>Overall</h2>

    <p>
        The statistics are based on data from {{ stats.first_entry|e|date('Y-m-d') }} to {{ stats.last_entry|e|date('Y-m-d') }}.
    </p>

    <dl>
        <dt>Total Traffic</dt>
        <dd>{{ stats.total_traffic|e|sizeToHuman }}</dd>

        <dt># Unique Users</dt>
        <dd>{{ stats.unique_users|e }}</dd>

        <dt># Concurrent Connections</dt>
        <dd>{{ stats.max_concurrent_connections|e }}</dd>
    </dl>

    <h2>Daily</h2>

    <table>
        <thead>
            <tr><th>Date</th><th># Users</th><th># Connections</th><th>Traffic</th></tr>
        </thead>
        <tbody>
        {% for item in stats.days %}
            <tr>
                <td>{{ item.date|e }}</td>
                <td>{{ item.unique_user_count|e }}</td>
                <td>{{ item.number_of_connections|e }}</td>
                <td>{{ item.traffic|e|sizeToHuman }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        Data from <em>{{ stats.generated_at|e|date('Y-m-d H:i:s') }} ({{ date()|date('T') }})</em>.
    </p>
    {% include 'footer.twig' %}
</body>
</html>
