<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="connections">Connections</a></li>
      <li class="active"><a href="servers">Servers</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li><a href="users">Users</a></li>
      <li><a href="documentation">Documentation</a></li>
    </ul>

    <h2>Servers</h2>
    
    {% if vpnServers.items is empty %}
        <p class="plain">No servers configured &#x1f61e;</p>
    {% else %}
        <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th># Clients</th>
                <th>Traffic</th>
            </tr>
        </thead>
        <tbody>
        {% for server in vpnServers.items %}
            <tr>
                <td><a href="connections#{{ server.id|e }}" title="{{ server.id|e }}">{{ server.id|e }}</a></td>
                <td>{% if server.ok %}Up{% else %}Down{% endif %}</td>
                {% if server.ok %}
                    <td>{{ attribute(server, 'load-stats').number_of_clients|e }}</td>
                    <td>{{ (attribute(server, 'load-stats').bytes_in + attribute(server, 'load-stats').bytes_out)|sizeToHuman|e }}</td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
