<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ requestRoot }}connections">Connections</a></li>
      <li><a href="{{ requestRoot }}users">Users</a></li>
      <li><a href="{{ requestRoot }}info">Info</a></li>
      <li class="active"><a href="{{ requestRoot }}stats">Stats</a></li>
      <li><a href="{{ requestRoot }}notifications">Notifications</a></li>
      <li><a href="{{ requestRoot }}log">Log</a></li>
    </ul>

    {% if false == stats %}

        <p class="block">
            The process generating the VPN usage statistics did not run yet...
        </p>

    {% else %}

        <h2>Overall</h2>

        <p>
            These statistics were last updated on {{ stats.generated_at|date('Y-m-d H:i:s') }} ({{ date()|date('T') }}).
        </p>

        <dl>
            <dt>Total Traffic</dt>
            <dd>{{ stats.total_traffic|sizeToHuman }}</dd>

            <dt>Total # Unique Users</dt>
            <dd>{{ stats.unique_user_count }}</dd>

            <dt># Concurrent Connections (Maximum)</dt>
            <dd>{{ stats.max_concurrent_connections }}</dd>
        </dl>

        <h2>Daily</h2>

        <table>
            <thead>
                <tr><th>Date</th><th># Unique Users</th><th>Traffic</th></tr>
            </thead>
            <tbody>
            {% for item in stats.days %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.unique_user_count }}</td>
                    <td>{{ item.bytes_transferred|sizeToHuman }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
