{% set activeItem = 'stats' %}
{% extends "base.twig" %}
{% block content %}
    {% if false == stats %}

        <p class="plain">
            {% trans %}
VPN usage statistics not (yet) available. Check back after midnight.
            {% endtrans %}
        </p>

    {% else %}

        {% set generated_at = stats.generated_at|date('Y-m-d H:i:s') %}
        {% set generated_at_tz = date()|date('T') %}

        <h2>{% trans "Summary" %}</h2>

        <p>
            {% trans %}
These statistics were last updated on {{ generated_at }} ({{ generated_at_tz }}) and cover the last month.
            {% endtrans %}
        </p>

        <table>
            <thead>
                <tr>
                    <th>{% trans "Profile" %}</th>
                    <th>{% trans "Total Traffic" %}</th>
                    <th>{% trans "Total # Unique Users" %}</th>
                    <th>{% trans "Highest # Concurrent Connections" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for k,v in stats.profiles %}

                {% set max_concurrent_connections_time = v.max_concurrent_connections_time|date('Y-m-d H:i:s') %}
                {% set max_concurrent_connections_time_tz = date()|date('T') %}

                <tr>
                    <td><span title="{{ k }}">{{ idNameMapping[k] }}</td>
                    <td>{{ v.total_traffic|sizeToHuman }}</td>
                    <td>{{ v.unique_user_count }}</td>
                    <td><span title="{{ max_concurrent_connections_time }} ({{ max_concurrent_connections_time_tz}} )">{{ v.max_concurrent_connections }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <h2>{% trans "Traffic" %}</h2>
        <p>
            {% trans %}
                VPN traffic over the last month.
            {% endtrans %}
        </p>
        {% for k,v in stats.profiles %}
            <h3>{{ idNameMapping[k] }}</h3>
            <img class="stats" src="stats/traffic?profile_id={{ k }}">
        {% endfor %}

        <h2>{% trans "Users" %}</h2>
        <p>
            {% trans %}
                Number of unique users of the VPN service over the last month.
            {% endtrans %}
        </p>
        {% for k,v in stats.profiles %}
            <h3>{{ idNameMapping[k] }}</h3>
            <img class="stats" src="stats/users?profile_id={{ k }}">
        {% endfor %}
    {% endif %}
{% endblock %}
