{% set activeItem = 'stats' %}
{% extends "base.twig" %}
{% block content %}
    {% if false == stats %}

        <p class="plain">
            {% trans "The process generating the VPN usage statistics did not run yet..." %}
        </p>

    {% else %}

        <h2>{% trans "Overall" %}</h2>

        <p>
            {% trans "These statistics were last updated on" %} {{ stats.generated_at|date('Y-m-d H:i:s') }} ({{ date()|date('T') }}).
        </p>

        <dl>
            <dt>{% trans "Total Traffic" %}</dt>
            <dd>{{ stats.total_traffic|sizeToHuman }}</dd>

            <dt>{% trans "Total # Unique Users" %}</dt>
            <dd>{{ stats.unique_user_count }}</dd>

            <dt>{% trans "Highest # Concurrent Connections" %}</dt>
            <dd>{{ stats.max_concurrent_connections }}</dd>
        </dl>
    
        <h2>{% trans "Traffic" %}</h2>
        <p>
        {% trans %}
            VPN traffic over the last month.
        {% endtrans %}
        </p>
        <img class="stats" src="stats/traffic">

        <h2>{% trans "Users" %}</h2>
        <p>
        {% trans %}
            Number of unique users of the VPN service over the last month.
        {% endtrans %}
        </p>
        <img class="stats" src="stats/users">

        <h2>{% trans "Daily" %}</h2>

        <table>
            <thead>
                <tr><th>{% trans "Date" %}</th><th>{% trans "# Unique Users" %}</th><th>{% trans "Traffic" %}</th></tr>
            </thead>
            <tbody>
            {% for item in stats.days %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.unique_user_count }}</td>
                    <td>{{ item.bytes_transferred|sizeToHuman }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}
