<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li class="active"><a href="{{ rootFolder|e}}stats">Stats</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
    </ul>

    <p>
        These statistics cover the time span between {{ stats.first_entry|e|date('Y-m-d') }} and {{ stats.last_entry|e|date('Y-m-d') }}.
    </p>

    <p>
        The total amount of traffic passed through the VPN server during this 
        time was <strong>{{ stats.total_traffic|e|sizeToHuman }}</strong>.
    </p>

    <p>
        The maximum number of concurrent connections was 
        <strong>{{ stats.max_concurrent_connections|e }}</strong>, which occurred on 
        {{ stats.max_concurrent_connections_time|e|date('Y-m-d H:i:s') }} ({{ date()|date('T') }}).
    </p>

    <table>
        <thead>
            <tr><th>Date</th><th># Users</th><th># Connections</th><th>Traffic</th></tr>
        </thead>
        <tbody>
        {% for item in stats.days %}
            <tr>
                <td>{{ item.date|e }}</td>
                <td>{{ item.unique_user_count|e }}</td>
                <td>{{ item.number_of_connections|e }}</td>
                <td>{{ item.traffic|e|sizeToHuman }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        Data from <em>{{ stats.generated_at|e|date('Y-m-d H:i:s') }} ({{ date()|date('T') }})</em>.
    </p>
    {% include 'footer.twig' %}
</body>
</html>
