<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li class="active"><a href="{{ rootFolder|e}}stats">Stats</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
    </ul>

    <table>
        <thead>
            <tr><th>Date</th><th># Users</th><th># Connections</th><th>Traffic (bytes)</th></tr>
        </thead>
        <tbody>
        {% for item in stats.days %}
            <tr>
                <td>{{ item.date|e }}</td>
                <td>{{ item.unique_user_count|e }}</td>
                <td>{{ item.number_of_connections|e }}</td>
                <td>{{ item.traffic|e }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'footer.twig' %}
</body>
</html>
