<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ requestRoot }}connections">Connections</a></li>
      <li class="active"><a href="{{ requestRoot }}users">Users</a></li>
      <li><a href="{{ requestRoot }}info">Info</a></li>
      <li><a href="{{ requestRoot }}stats">Stats</a></li>
      <li><a href="{{ requestRoot }}log">Log</a></li>
    </ul>

    <p>
        Managing configuration <em>{{ configName }}</em> of user <a href="{{ requestRoot }}user?user_id={{ userId }}">{{ userId }}</a>.
    </p>

    <form method="post" action="{{ requestRoot }}configuration">
        <fieldset>
            <input type="hidden" name="user_id" value="{{ userId }}">
            <input type="hidden" name="config_name" value="{{ configName }}">
            {% if isDisabled %}
                <button name="common_name_action" value="enableCommonName" class="success">Enable Configuration</button>
            {% else %}
                <button name="common_name_action" value="disableCommonName" class="error">Disable Configuration</button>
            {% endif %}
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
