<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ requestRoot|e}}connections">Connections</a></li>
      <li class="active"><a href="{{ requestRoot|e}}users">Users</a></li>
      <li><a href="{{ requestRoot|e}}info">Info</a></li>
      <li><a href="{{ requestRoot|e}}stats">Stats</a></li>
      <li><a href="{{ requestRoot|e}}log">Log</a></li>
    </ul>

    <p>
        Managing configuration <em>{{ configName|e }}</em> of user <a href="{{ requestRoot|e }}user?user_id{{ userId|e }}">{{ userId|e }}</a>.
    </p>

    <form method="post">
        <fieldset>
            <label>
            {% if isDisabled %}
                <input type="checkbox" name="disable" id="disable" checked="checked"> 
            {% else %}
                <input type="checkbox" name="disable" id="disable"> 
            {% endif %}
            Disable</label>
        </fieldset>
        <fieldset>
            <input type="hidden" name="user_id" value="{{ userId|e }}">
            <input type="hidden" name="config_name" value="{{ configName|e }}">
            <button type="submit" value="save">Apply</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
