<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li class="active"><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
      <li><a href="{{ rootFolder|e}}documentation">Documentation</a></li>
    </ul>

    <h2>Users / {{ userId|e }}</h2>

    <h3>User</h3>
    <form method="post">
        <fieldset>
            <label>
            {% if isDisabled %}
                <input type="checkbox" name="disable" id="disable" checked="checked"> 
            {% else %}
                <input type="checkbox" name="disable" id="disable"> 
            {% endif %}
            Disable</label>
        </fieldset>

        {% if hasOtpSecret %}
        <fieldset>
            <input type="checkbox" name="otp_secret" id="otp_secret">             
            <label for="otp_secret">Remove OTP Secret</label>
        </fieldset>
        {% endif %}

        <fieldset>
            <button type="submit" value="save">Apply</button>
        </fieldset>
    </form>

    <h3>Configurations</h3>
    <table>
        <thead>
            <tr><th>Name</th><th>Expires ({{ date()|date('T') }})</th><th></th></tr> 
        </thead>
        <tbody>
        {% for userConfig in userConfigList %}
            <tr>
                {% if 'D' == userConfig.state or 'V' == userConfig.state %}
                    <td><a href="{{ userId|e }}/{{ userConfig.name|e }}">{{ userConfig.name|e }}</a></td>
                {% else %}
                    <td>{{ userConfig.name|e }}</td>
                {% endif %}    
                <td>{{ userConfig.exp|e|date('Y-m-d H:i:s') }}</td>
                <td class="text-right">
                    {% if 'D' == userConfig.state %}
                        <span class="warning">Disabled</span>
                    {% elseif 'V' == userConfig.state %}
                        <span class="success">Active</span>
                    {% elseif 'R' == userConfig.state %}
                        <span class="error">Revoked</span>
                    {% elseif 'E' == userConfig.state %}
                        <span>Expired</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'footer.twig' %}
</body>
</html>
