<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ requestRoot }}connections">Connections</a></li>
      <li class="active"><a href="{{ requestRoot }}users">Users</a></li>
      <li><a href="{{ requestRoot }}info">Info</a></li>
      <li><a href="{{ requestRoot }}stats">Stats</a></li>
      <li><a href="{{ requestRoot }}log">Log</a></li>
    </ul>

    <p>
        Managing user <em>{{ userId }}</em>.
    </p>
    
    <form method="post" action="{{ requestRoot }}user">
        <fieldset>
            <input type="hidden" name="user_id" value="{{ userId }}">
            {% if isDisabled %}
                <button name="user_action" value="enableUser" class="success">Enable User</button>
            {% else %}
                <button name="user_action" value="disableUser" class="error">Disable User</button>
            {% endif %}

            {% if hasOtpSecret %}
                <button name="user_action" value="deleteOtpSecret" class="error">Delete OTP Secret</button>
            {% endif %}
        </fieldset>
    </form>

    <h3>Configurations</h3>
    <table>
        <thead>
            <tr><th>Name</th><th>Expires ({{ date()|date('T') }})</th><th></th></tr> 
        </thead>
        <tbody>
        {% for userConfig in userConfigList %}
            <tr>
                {% if 'D' == userConfig.state or 'V' == userConfig.state %}
                    <td><a href="{{ requestRoot }}configuration?user_id={{ userId }}&config_name={{ userConfig.name }}">{{ userConfig.name }}</a></td>
                {% else %}
                    <td>{{ userConfig.name }}</td>
                {% endif %}    
                <td>{{ userConfig.exp|date('Y-m-d H:i:s') }}</td>
                <td class="text-right">
                    {% if 'D' == userConfig.state %}
                        <span class="error">Disabled</span>
                    {% elseif 'V' == userConfig.state %}
                        <span class="success">Active</span>
                    {% elseif 'R' == userConfig.state %}
                        <span class="error">Revoked</span>
                    {% elseif 'E' == userConfig.state %}
                        <span>Expired</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'footer.twig' %}
</body>
</html>
