{% set activeItem = 'users' %}
{% extends "base.twig" %}
{% block content %}
    <p>
        {% trans %}
        Managing user <em>{{ userId }}</em>.
        {% endtrans %}
    </p>
    
    <form method="post" action="{{ requestRoot }}user">
        <fieldset>
            <input type="hidden" name="user_id" value="{{ userId }}">
            {% if isDisabled %}
                <button name="user_action" value="enableUser" class="success">{% trans "Enable User" %}</button>
            {% else %}
                <button name="user_action" value="disableUser" class="error">{% trans "Disable User" %}</button>
            {% endif %}

            {% if hasTotpSecret %}
                <button name="user_action" value="deleteTotpSecret" class="error">{% trans "Delete TOTP Secret" %}</button>
            {% endif %}
        </fieldset>
    </form>

    <h2>{% trans "Configurations" %}</h2>

    {% if clientCertificateList is empty %}
        <p class="plain">
            {% trans "This user does not have any configurations." %}
        </p>
    {% else %}
        <table>
            <thead>
                <tr><th>{% trans "Name" %}</th><th>{% trans "Issued" %} ({{ date()|date('T') }})</th><th>{% trans "Expires" %} ({{ date()|date('T') }})</th></tr> 
            </thead>
            <tbody>
            {% for clientCertificate in clientCertificateList %}
                <tr>
                    <td>{{ clientCertificate.display_name }}</td>
                    <td>{{ clientCertificate.valid_from|date('Y-m-d H:i:s') }}</td>
                    <td>{{ clientCertificate.valid_to|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>{% trans "Events" %}</h2>
    <p>
        {% trans "This is a list of events that occurred related to this user account." %}
    </p>
    {% if userMessages is empty %}
        <p class="plain">{% trans "No events yet." %}</p>
    {% else %}
        <table>
            <thead>
                <tr><th>{% trans "Date/Time" %} ({{ date()|date('T') }})</th><th>{% trans "Message" %}</th><th>{% trans "Type" %}</tr>
            </thead>
            <tbody>
                {% for message in userMessages %}
                    <tr>
                        <td>{{ message.date_time|date('Y-m-d H:i:s') }}</td>
                        <td>{{ message.message }}</td>
                        <td><span class="plain">{{ message.type }}</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
