<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li class="active"><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
      <li><a href="{{ rootFolder|e}}documentation">Documentation</a></li>
    </ul>

    <h2>Users</h2>
    {% if userList is empty %}
        <p class="block">There are no users with VPN configurations.</p>
    {% else %}
        <table>
            <thead>
                <tr><th>User ID</th><th class="text-right">Status</th></tr>
            </thead>
            <tbody>
                {% for user in userList %}
                    <tr>
                        <td><a href="users/{{ user.userId|e }}">{{ user.userId|e }}</a></td>
                        <td class="text-right">
                            {% if user.isDisabled %}
                                <span class="error">Disabled</span>
                            {% else %}
                                <span class="success">Active</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
