<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li class="active"><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
      <li><a href="{{ rootFolder|e}}documentation">Documentation</a></li>
    </ul>

    <h2>Users / {{ userId|e }} / {{ configName|e }}</h2>
 
    <form method="post">
        <fieldset>
            {% if isDisabled %}
                <input type="checkbox" name="disable" id="disable" checked="checked"> 
            {% else %}
                <input type="checkbox" name="disable" id="disable"> 
            {% endif %}
            <label for="disable">Disable</label>
        </fieldset>
        <fieldset>
            <button type="submit" value="save">Apply</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
