<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ requestRoot }}connections">Connections</a></li>
      <li class="active"><a href="{{ requestRoot }}users">Users</a></li>
      <li><a href="{{ requestRoot }}info">Info</a></li>
      <li><a href="{{ requestRoot }}stats">Stats</a></li>
      <li><a href="{{ requestRoot }}messages">Messages</a></li>
      <li><a href="{{ requestRoot }}log">Log</a></li>
    </ul>

    <p>
        Managing user <em>{{ userId }}</em>.
    </p>
    
    <form method="post" action="{{ requestRoot }}user">
        <fieldset>
            <input type="hidden" name="user_id" value="{{ userId }}">
            {% if isDisabled %}
                <button name="user_action" value="enableUser" class="success">Enable User</button>
            {% else %}
                <button name="user_action" value="disableUser" class="error">Disable User</button>
            {% endif %}

            {% if hasOtpSecret %}
                <button name="user_action" value="deleteOtpSecret" class="error">Delete OTP Secret</button>
            {% endif %}
        </fieldset>
    </form>

    <h3>Configurations</h3>

    {% if clientCertificateList is empty %}
        <p class="plain">
            This user does not have any configurations.
        </p>
    {% else %}
        <table>
            <thead>
                <tr><th>Name</th><th>Issued ({{ date()|date('T') }})</th><th>Expires ({{ date()|date('T') }})</th><th class="text-right">Status</th><th></th></tr> 
            </thead>
            <tbody>
            {% for clientCertificate in clientCertificateList %}
                <tr>
                    <td>{{ clientCertificate.display_name }}</td>
                    <td>{{ clientCertificate.valid_from|date('Y-m-d H:i:s') }}</td>
                    <td>{{ clientCertificate.valid_to|date('Y-m-d H:i:s') }}</td>
                    <td class="text-right">
                        {% if clientCertificate.is_disabled %}
                            <span class="error">Disabled</span>
                        {% else %}
                            <span class="success">Active</span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <form method="post" class="inline" action="setCertificateStatus">
                            <input type="hidden" name="commonName" value="{{ clientCertificate.common_name }}">
                            {% if clientCertificate.is_disabled %}
                                <button type="submit" name="newState" value="enable">Enable</button>
                            {% else %}
                                <button type="submit" name="newState" value="disable">Disable</button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
