<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ rootFolder|e}}connections">Connections</a></li>
      <li class="active"><a href="{{ rootFolder|e}}users">Users</a></li>
      <li><a href="{{ rootFolder|e}}info">Info</a></li>
      <li><a href="{{ rootFolder|e}}log">Log</a></li>
      <li><a href="{{ rootFolder|e}}documentation">Documentation</a></li>
    </ul>

    <p>
        Managing configuration <em>{{ configName|e }}</em> of user <a href="{{ rootFolder|e }}users/{{ userId|e }}">{{ userId|e }}</a>.
    </p>

    <form method="post">
        <fieldset>
            <label>
            {% if isDisabled %}
                <input type="checkbox" name="disable" id="disable" checked="checked"> 
            {% else %}
                <input type="checkbox" name="disable" id="disable"> 
            {% endif %}
            Disable</label>
        </fieldset>
        <fieldset>
            <button type="submit" value="save">Apply</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
