<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ requestRoot }}connections">Connections</a></li>
      <li class="active"><a href="{{ requestRoot }}users">Users</a></li>
      <li><a href="{{ requestRoot }}info">Info</a></li>
      <li><a href="{{ requestRoot }}stats">Stats</a></li>
      <li><a href="{{ requestRoot }}messages">Messages</a></li>
      <li><a href="{{ requestRoot }}log">Log</a></li>
    </ul>

    {% if userList is empty %}
        <p class="plain">There are no users with VPN configurations.</p>
    {% else %}
        <table>
            <thead>
                <tr><th>User ID</th><th class="text-right">Status</th></tr>
            </thead>
            <tbody>
                {% for user in userList %}
                    <tr>
                        <td><a href="{{ requestRoot }}user?user_id={{ user.user_id }}">{{ user.user_id }}</a></td>
                        <td class="text-right">
                            {% if user.has_totp_secret %}
                                <span class="plain">TOTP</span>
                            {% endif %}
                            {% if user.has_yubi_key %}
                                <span class="plain">YubiKey</span>
                            {% endif %}
                            {% if user.is_disabled %}
                                <span class="error">Disabled</span>
                            {% else %}
                                <span class="success">Active</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
