<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="{{ requestRoot }}connections">{% trans "Connections" %}</a></li>
      <li class="active"><a href="{{ requestRoot }}users">{% trans "Users" %}</a></li>
      <li><a href="{{ requestRoot }}info">{% trans "Info" %}</a></li>
      <li><a href="{{ requestRoot }}stats">{% trans "Stats" %}</a></li>
      <li><a href="{{ requestRoot }}messages">{% trans "Messages" %}</a></li>
      <li><a href="{{ requestRoot }}log">{% trans "Log" %}</a></li>
    </ul>

    {% if userList is empty %}
        <p class="plain">{% trans "There are no users with VPN configurations." %}</p>
    {% else %}
        <table>
            <thead>
                <tr><th>{% trans "User ID" %}</th><th class="text-right">{% trans "Status" %}</th></tr>
            </thead>
            <tbody>
                {% for user in userList %}
                    <tr>
                        <td><a href="{{ requestRoot }}user?user_id={{ user.user_id }}">{{ user.user_id }}</a></td>
                        <td class="text-right">
                            {% if user.has_totp_secret %}
                                <span class="plain">{% trans "TOTP" %}</span>
                            {% endif %}
                            {% if user.has_yubi_key_id %}
                                <span class="plain">{% trans "YubiKey" %}</span>
                            {% endif %}
                            {% if user.is_disabled %}
                                <span class="error">{% trans "Disabled" %}</span>
                            {% else %}
                                <span class="success">{% trans "Active" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
